<!DOCTYPE html>
<html lang="zh-CN" data-bs-theme="dark">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Python碎言博客" name="keywords">
    <meta content="实现静态页面的输出其实很简单，按着顺序来就行：搜集Markdown文件和站点配置文件->组织数据并渲染模板(jinja2)->输出HTML并保存到静态目录中。" name="description">
    <meta content="J.sky" name="author">
    <link rel="icon" type="image/png" href="https://suiyan.cc/assets/images/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://suiyan.cc/assets/images/favicon/favicon-16x16.png" sizes="16x16"/>
    <title>SuiYan 碎言博客 使用Python编写并部署第一个自己的静态独立技术博客:(二)实现静态页面的输出</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="https://suiyan.cc/assets/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="fa fa-navicon mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">
    <div class="profile">
        <img src="https://suiyan.cc/assets/images/avatar.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="https://suiyan.cc/">J.sky</a></h1>
        <p class="blog-description">
            You see see you , This one day day di.
          </p>
        <div class="social-links mt-3 text-center">
            
            <a href="https://github.com/bosichong/suiyan" target="_blank"><i class="fa fa-github"></i></a>
            
            <a href="https://gitee.com/J_Sky/suiyan" target="_blank"><i class="fa fa-git"></i></a>
            
            <a href="mailto:285911@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            
            <a href="https://www.zhihu.com/people/J_sky/activities" target="_blank"><i class="fa fa-book"></i></a>
            
            <a href="https://suiyan.cc/rss.xml" target="_blank"><i class="fa fa-rss-square"></i></a>
            
        </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
        <ul>
            
            <li><a href="https://suiyan.cc/" class="nav-link scrollto active"><i class="fa fa-home"></i>
                <span>Home</span></a></li>
            
            <li><a href="https://suiyan.cc/archives.html" class="nav-link scrollto active"><i class="fa fa-archive"></i>
                <span>Archive</span></a></li>
            
            <li><a href="https://suiyan.cc/tags.html" class="nav-link scrollto active"><i class="fa fa-tags"></i>
                <span>Tags</span></a></li>
            
            <li><a href="https://suiyan.cc/aboutme.html" class="nav-link scrollto active"><i class="fa fa-user-md"></i>
                <span>About Me</span></a></li>
            
            <li><a href="https://suiyan.cc/links.html" class="nav-link scrollto active"><i class="fa fa-link"></i>
                <span>Links</span></a></li>
            
        </ul>
    </nav><!-- .nav-menu -->
</div>

    
        <div class="blog-search">
            <div class="input-group mb-3">
                <input class="form-control" id="search-input" type="text" placeholder="JavaScript">
                <button type="button" id="search-btn" class="btn btn-outline-info vibrate-1" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-search"></i></button>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">搜索结果</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <article>
                            <a href="#close"
                               aria-label="Close"
                               class="close"
                               data-target="modal-example"
                               onClick="toggleModal(event)">
                            </a>
                            <div id="modal" style="display: none;">
                                <ul id="result-list"></ul>
                            </div>
                        </article>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
</header><!-- End Header -->

<main id="main">

    <section class="inner-page">
       


<hgroup>
    <h1 class="animate__animated animate__bounce">使用Python编写并部署第一个自己的静态独立技术博客:(二)实现静态页面的输出</h1>
    <small> 作者:<a href="#">J.sky</a> | 发表于:<span class="cr-time" data-bs-toggle="tooltip"  data-bs-title="2023-04-20 10:15:27">2023-04-20 10:15:27</span> | 更新于:<span class="up-time" data-bs-toggle="tooltip"  data-bs-title="2023-05-17 08:52:35">2023-05-17 08:52:35</span> | Tag:
        
        
        Python
        
        碎言博客
        
    </small>
</hgroup>

<div class="article">
    <p><a href="https://suiyan.cc/2023/20230410075954.html">使用Python编写并部署第一个自己的静态独立技术博客:(一)分析与设计</a></p>
<p>使用Python编写并部署第一个自己的静态独立技术博客:(二)实现静态页面的输出</p>
<p><a href="https://suiyan.cc/2023/20230517084718.html">使用Python编写并部署第一个自己的静态独立技术博客:(三)搜集博客数据</a></p>
<p>实现静态页面的输出其实很简单，按着顺序来就行：搜集Markdown文件和站点配置文件-&gt;组织数据并渲染模板(jinja2)-&gt;输出HTML并保存到静态目录中。</p>
<h3>最简单的静态文件输出</h3>
<p>如果您想要向HTML文件添加字符串模板，您可以使用Python的字符串格式化功能。例如，如果您想要向HTML文件添加标题：</p>
<pre><code>title = "My Title"
html_template = "&lt;html&gt;&lt;head&gt;&lt;title&gt;{0}&lt;/title&gt;&lt;/head&gt;&lt;body&gt;{1}&lt;/body&gt;&lt;/html&gt;"
body = "&lt;h1&gt;hello world&lt;/h1&gt;"
with open("file.html", "w") as f:
    f.write(html_template.format(title, body))
</code></pre>
<p>在此代码中，我们定义一个名为title的变量，其值为“My Title”，以及一个名为html_template的变量，其值为"{1}"。{0}和{1}是title和body变量的占位符，分别。然后，我们定义一个名为body的变量，其值为"hello world"。最后，我们以写入模式打开文件“file.html”，并使用format()方法将格式化的字符串写入其中。运行这段脚本后会在当前目录下生成一个<code>file.html</code>文件，内容如下：</p>
<pre><code>&lt;html&gt;&lt;head&gt;&lt;title&gt;My Title&lt;/title&gt;&lt;/head&gt;&lt;body&gt;&lt;h1&gt;hello world&lt;/h1&gt;&lt;/body&gt;&lt;/html&gt;
</code></pre>
<p>至此，我们实现了一个简单的模板系统。</p>
<h3>使用jinja2模板引擎</h3>
<p>但是我们的站点不可能就只有一两个模板的变量，他会是由一系列的数据组成的，而且渲染的出来的HTML页面我们还需要进行布局和前端的美化，所以我们需要一个健壮的模板引擎。</p>
<blockquote>
<p>Jinja 是一个快速、富有表现力、可扩展的模板引擎。模板中的特殊占位符允许编写类似于 Python 语法的代码。然后向模板传递数据以呈现最终文档。</p>
</blockquote>
<h4>安装</h4>
<pre><code>$ pip install Jinja2
</code></pre>
<p>通过上边的命令行，我们很容易就能安装jinja2的依赖文件。关于使用jinja2生成HTML有两个重要的步骤：
1. 组织jinja2的模板变量，也就是站点的上下文。
2. 编写jinja2的模板，这里包括模板的继承和模板的渲染，以及最后的保存输出。</p>
<h4>jinja2的配置</h4>
<pre><code># 设置jinja模板的所在目录
env = Environment(loader=FileSystemLoader(os.path.join("theme")))
context = {
    "title" : "hello",
    "body" : "world"
}
tmp = env.get_template("index.html")  # 获取对应的模板
sitemap_path = os.path.join('index.html')  # 输出静态文件
with open(sitemap_path, mode='w', encoding='utf-8') as f:
    f.write(tmp.render(**context))
</code></pre>
<p>这是一个最简单的jinja2模板的配置，我们所有的静态文件的输出都会使用这段代码。</p>
<h4>编写jinja2模板</h4>
<p>编写jinja2模板首先需要布局你的网站页面，先规划好博客需要的页面，因为博客的页面布局大体相同，所以要先写<code>layout.html</code>，通过模板的继承与引用来实现页面制作的分工，应避免把重复的内容写到多个页面。</p>
<h4>jinja2语法</h4>
<p>jinja2的语法很简单：</p>
<ol>
<li>语句结构 {% %}</li>
<li>变量取值 {{ }}</li>
<li>注释 {# #}</li>
</ol>
<p>输出页面的标题：</p>
<pre><code>&lt;h1&gt;{{ title }}&lt;/h1&gt;
</code></pre>
<p>循环输出标签：</p>
<pre><code>{% for tag in tags %}
&lt;samll&gt;{{ tag }}&lt;/samll&gt;
{% endfor %}
</code></pre>
<p>对于复杂的页面我们应该建立多个继承，对于固定的内容应当使用引用。</p>
<p>建立继承块：</p>
<pre><code>&lt;title&gt;{{ blog_name_en }}-{{ blog_name }}{% block title %}{% endblock %}&lt;/title&gt;
</code></pre>
<p>通过继承进行修改：</p>
<pre><code>{% extends "layout.html" %}
{% block title %}-{{ title }}{% endblock %}
{# 此处省略了一些代码 #}
</code></pre>
<p><a href="https://jinja.palletsprojects.com/en/3.1.x/">jinja2官方文档</a>，这里可以查询到更多有关jinja2模板引擎的使用帮助。</p>
<h3>组合到一起</h3>
<p>通过一些列的操作，我们可以生成一些简单的HTML页面了，接下来我们来看看在Python中如何具体组织这些功能并实现他们。</p>
</div>

<div class="blog_footer">
    <div class="prev_next">
        
        <a href="https://suiyan.cc/2023/20230420162736.html" class="text-truncate">< <span>simple_blog 碎言静态博客主题</span></a>
        

        
        <a href="https://suiyan.cc/2023/20230418122936.html" class="text-truncate"><span>css布局如何选择flex和grid?</span> ></a>
        
    </div>
    
    <div class="related">
        <p>
            相关文章：
        </p>
        <ul>
            
            <li>
                <a href="https://suiyan.cc/2023/20230517084718.html" class="text-truncate "><span>使用Python编写并部署第一个自己的静态独立技术博客:(三)搜集博客数据</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/2023/20230410075954.html" class="text-truncate "><span>使用Python编写并部署第一个自己的静态独立技术博客:(一)分析与设计</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/before-2022/20210212002001.html" class="text-truncate "><span>Anaconda常用终端命令</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/before-2022/20201202155245.html" class="text-truncate "><span>如何打包上传Python程序或模块包到PyPi供其他人使用pip下载？</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/before-2022/20201005203404.html" class="text-truncate "><span>聊聊Python中的装饰器</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/before-2022/20200330193816.html" class="text-truncate "><span>pip临时修改下载源</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/2023/20230427151750.html" class="text-truncate "><span>coding_blog 碎言静态博客主题</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/2023/20230420162736.html" class="text-truncate "><span>simple_blog 碎言静态博客主题</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/2023/20230408093536.html" class="text-truncate "><span>free_blog 碎言静态博客主题</span></a>
            </li>
            
            <li>
                <a href="https://suiyan.cc/before-2022/20200108191737.html" class="text-truncate "><span>使用碎言静态博客依托码云Pages搭建自己的免费博客</span></a>
            </li>
            
        </ul>

    </div>
    

    <script src="https://giscus.app/client.js"
        data-repo="bosichong/bosichong.github.io"
        data-repo-id="R_kgDOJLHieA"
        data-category="Announcements"
        data-category-id="DIC_kwDOJLHieM4CWhL8"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

</div>


<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/onedark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>


    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <div class="copyright">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </div>

    <div class="credits">
        Designed by <a href="https://github.com/Jsky2020/suiyan" target="_blank">SuiYan</a> | Theme by <a href="https://github.com/bosichong/coding_blog" target="_blank">Coding-blog</a>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?4c5d5a36d989457d284188afb75dd84c";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
        

</div>
</footer><!-- End  Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
<!-- Vendor JS Files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- CDN example (unpkg) day.js -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/locale/zh-cn.js"></script>

<!-- Template Main JS File -->
<script src="https://suiyan.cc/assets/js/url.js"></script>
<script src="https://suiyan.cc/assets/js/main.js"></script>

</body>

</html>