<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="Django" name="keywords" />
    <meta content="Django的页面渲染是通过Django的模板语法在模板中渲染上下文的变量来进行输出的，Django 的模板语言是为了在强大和简单之间取得平衡而设计的。它的设计让习惯于使用 HTML 的人感觉很舒服。如果你接触过其他基于文本的模板语言，如 Smarty 或 Jinja2 ，你应该会对 Django 的模板感到很舒服。" name="description" />
    <meta content="J.sky" name="author" />
    <link
      rel="icon"
      type="image/png"
      href="https://suiyan.cc/assets/images/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://suiyan.cc/assets/images/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <title>
      Django 4.2 复习笔记(八)Django 模板语言语法 | SuiYan 碎言
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://suiyan.cc/assets/js/tailwind.config.js"></script>

    <!-- Template Main CSS File -->
    <link href="https://suiyan.cc/assets/css/style.css" rel="stylesheet" />




  </head>

  <body>
    <nav class="sticky top-0 h-16 px-4 z-10 bg-opacity-90 backdrop-blur">
      <div class="container h-16 xl:w-3/5 mx-auto flex items-center">
        <div class="justify-start w-1/5">
          <div class="w-16 text-center text-2xl hover:animate-bounce">
            <a href="https://suiyan.cc/">碎言</a>
          </div>
        </div>
        <div class="justify-end w-4/5 flex">
          <ul class="flex text-center text-sm gap-6 list-none">
            
            <li class="hover:animate-bounce">
              <a
                href="https://suiyan.cc/archives.html"
                class="text-gray-500 transition hover:text-gray-500/75"
              >
                归档</a
              >
            </li>
            
            <li class="hover:animate-bounce">
              <a
                href="https://suiyan.cc/tags.html"
                class="text-gray-500 transition hover:text-gray-500/75"
              >
                标签</a
              >
            </li>
            
            <li class="hover:animate-bounce">
              <a
                href="https://suiyan.cc/before-2022/1.html"
                class="text-gray-500 transition hover:text-gray-500/75"
              >
                关于</a
              >
            </li>
            
            <li class="hover:animate-bounce">
              <a
                href="https://suiyan.cc/links.html"
                class="text-gray-500 transition hover:text-gray-500/75"
              >
                链接</a
              >
            </li>
            
            <li class="hover:animate-bounce">
                  <a href="https://suiyan.cc/search.html" aria-label="Search page">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-search"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
                      ></path>
                      <path d="M21 21l-6 -6"></path>
                    </svg>
                  </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="container max-w-3xl mx-auto leading-normal text-lg font-extralight"
    >
      <div class="p-4">
<!-- Template Main CSS File -->
<link href="https://suiyan.cc/assets/css/blog.css" rel="stylesheet">
<link rel="stylesheet"
      href="https://suiyan.cc/assets/css/default.min.css">
<script src="https://suiyan.cc/assets/js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

  <div class="mb-4">
    <h1 class="text-3xl font-medium">Django 4.2 复习笔记(八)Django 模板语言语法</h1>
    <div class="text-sm flex flex-wrap my-2">
      作者:<a href="#">J.sky</a> · 发表于:<div class="tooltip" data-tip="2023-06-04T08:48:35.000000Z"><span
        class="cr-time"
        >2023-06-04T08:48:35.000000Z</span></div>
      · 更新于:<div class="tooltip" data-tip="2023-08-13T22:54:57.612618Z"><span class="up-time">2023-08-13T22:54:57.612618Z</span></div>
      · Tag:   Django 
      </small>
    </div>
  </div>

  <div class="mb-4"><p>Django的页面渲染是通过Django的模板语法在模板中渲染上下文的变量来进行输出的，Django 的模板语言是为了在强大和简单之间取得平衡而设计的。它的设计让习惯于使用 HTML 的人感觉很舒服。如果你接触过其他基于文本的模板语言，如 Smarty 或 Jinja2 ，你应该会对 Django 的模板感到很舒服。</p>
<h2>模板文件格式</h2>
<p>模板是一个文本文件。它可以生成任何基于文本的格式（HTML、XML、CSV 等），模板中包含变量和标签。</p>
<p>一个简单的案例：</p>
<pre><code>{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
&lt;h1&gt;{{ section.title }}&lt;/h1&gt;

{% for story in story_list %}
&lt;h2&gt;
&lt;a href="{{ story.get_absolute_url }}"&gt;
    {{ story.headline|upper }}
&lt;/a&gt;
&lt;/h2&gt;
&lt;p&gt;{{ story.tease|truncatewords:"100" }}&lt;/p&gt;
{% endfor %}
{% endblock %}
</code></pre>
<h2>变量</h2>
<p>模板语法：</p>
<pre><code>view：｛"HTML变量名" : "views变量名"｝
HTML：｛｛变量名｝｝
</code></pre>
<p>其中变量可以为Python中的各种变量类型，例如：单一的变量，或是集合类的变量如list、dict等。</p>
<h2>标签</h2>
<p>标签是这样的： {% tag %}。标签比变量更复杂。有的在输出中创建文本，有的通过执行循环或逻辑来控制流程，有的将外部信息加载到模板中，供以后的变量使用。</p>
<h2>if else</h2>
<pre><code>{% if condition1 %}
... display 1
{% elif condition2 %}
... display 2
{% else %}
... display 3
{% endif %}
</code></pre>
<h2>遍历 for</h2>
<pre><code>&lt;ul&gt;
{% for athlete in athlete_list %}
    &lt;li&gt;{{ athlete.name }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>
<h2>过滤器</h2>
<p>通过使用过滤器修改显示的变量。过滤器是这样的： <code>{{ name|lower }}</code>。这将显示 lower 过滤器过滤后的 <code>{{ name }}</code> 变量的值，该过滤器将文本转换为小写。使用管道（|）来应用过滤器。</p>
<p>例如：</p>
<pre><code>{{ value|length }}
</code></pre>
<p>上边会输出数组的长度。</p>
<p>当然过滤器有很多的，具体可以查看官方的列表：<a href="https://docs.djangoproject.com/zh-hans/4.2/ref/templates/builtins/#ref-templates-builtins-filters">内置过滤器参考</a></p>
<h2>模板继承</h2>
<p>Django 的模板引擎中最强大的——也是最复杂的——部分是模板继承。模板继承允许你建立一个基本的“骨架”模板，它包含了你网站的所有常用元素，并定义了子模板可以覆盖的块。</p>
<p>base.html：</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;link rel="stylesheet" href="style.css"&gt;
    &lt;title&gt;{% block title %}My amazing site{% endblock %}&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="sidebar"&gt;
        {% block sidebar %}
        &lt;ul&gt;
            &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        {% endblock %}
    &lt;/div&gt;

    &lt;div id="content"&gt;
        {% block content %}{% endblock %}
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>这个模板，我们称之为 <code>base.html</code>，它定义了一个 HTML 骨架文档，你可以用它来制作一个两栏式页面。“子”模板的工作是用内容填充空块。</p>
<p>在这个例子中，<code>block</code> 标签定义了三个块，子模板可以填入其中。<code>block</code> 标签所做的就是告诉模板引擎，子模板可以覆盖模板的这些部分。</p>
<p>子模板继承：</p>
<pre><code>{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
{% for entry in blog_entries %}
    &lt;h2&gt;{{ entry.title }}&lt;/h2&gt;
    &lt;p&gt;{{ entry.body }}&lt;/p&gt;
{% endfor %}
{% endblock %}
</code></pre>
<p><code>{% extends "base.html" %}</code>表示继承模板<code>bas.html</code>。<code>{% block title %}My amazing blog{% endblock %}</code>就是在改写模板中可以自定义的内容，通过这种继承的方式，可以构建复杂的网页。</p>
<h2>总结</h2>
<p>Django的模板语法还有很多功能可以使用，熟练这些功能可以大大的提高页面渲染开发的素的。</p>
<p>参考文章：</p>
<p><a href="https://docs.djangoproject.com/zh-hans/4.2/ref/templates/language/">Django 模板语言</a></p>
<p><a href="https://www.runoob.com/django/django-template.html">菜鸟教程 Django 模板</a></p></div>

  <div class="blog_footer">
    <div class="prev_next flex justify-between my-4">
      
      <a href="https://suiyan.cc/2023/20230603073259.html" class="text-accent text-md"
        ><button class="btn"> prev </button></a
      >
       
      <a href="https://suiyan.cc/2023/20230604161547.html" class="text-accent text-md"
        ><button class="btn"> next </button></a
      >
      
    </div>
    
    <div class="related">
      <p>相关文章：</p>
      <ul>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230611084325.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(九)Django Forms 使用表单</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230605083417.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(九)使用Django的上下文处理器（context processor）</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230604161547.html" class="link link-hover"
            ><span>如何单独使用Django ORM 在非Django项目中使用Django ORM？</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230603073259.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(七)Django 模板(TEMPLATES)</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230529075925.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(六)Django的路由</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230528074712.html" class="link link-hover"
            ><span>SQLAlchemy的关系字段和Django的关系字段他们的不同点。</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230528074013.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(五)Django中常见的关系字段及其示例</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230525084144.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(四)数据的查询Django的ORM</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230524211340.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(三)Model模型字段</span></a
          >
        </li>
        
        <li class="list-group-item">
          <a href="https://suiyan.cc/2023/20230520081153.html" class="link link-hover"
            ><span>Django 4.2 复习笔记(二)编写和调试Model模型</span></a
          >
        </li>
        
      </ul>
    </div>
    
    <!-- <div class="mb-4 my-2 flex flex-wrap items-center justify-center gap-2">
      <button id="load-comments-btn" class="btn btn-wide">加载评论</button>
      <div id="comments-container" class="w-full"></div>
    </div> -->

  </div>

  <script src="https://giscus.app/client.js"
  data-repo="bosichong/bosichong.github.io"
  data-repo-id="R_kgDOJLHieA"
  data-category="Announcements"
  data-category-id="DIC_kwDOJLHieM4CWhL8"
  data-mapping="title"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>





</div>

      <!-- ======= Footer ======= -->

      <footer class="footer grid grid-flow-col text-sm p-3 bg-slate-100 text-base-content">
  <div>
    <div>
      本站采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">知识共享署名-相同方式共享 4.0 国际许可协议</a>进行许可，转载请保留原文链接及署名。
    </div>
    <div>
      Designed by
      <a href="https://github.com/Jsky2020/suiyan" target="_blank">
        <img class="w-auto" alt="suiyan.cc" src="https://img.shields.io/badge/SuiYan-%E9%9D%99%E6%80%81%E5%8D%9A%E5%AE%A2%E7%94%9F%E6%88%90%E5%99%A8-green">
</a>
      <a href="https://suiyan.cc/favorites/" target="_blank">
        <img class="w-auto" alt="极简导航" src="https://img.shields.io/badge/%E6%9E%81%E7%AE%80%E5%AF%BC%E8%88%AA-%E6%88%91%E7%9A%84%E4%B8%AA%E4%BA%BA%E6%94%B6%E8%97%8F%E5%A4%B9-blue">
</a>
      <script type="text/javascript" src="//js.users.51.la/21737767.js"></script>
    </div>
  </div>

  <div>
    <span class="footer-title">Contact me</span>
    <div class="grid grid-flow-col gap-2 text-lg">
      
      <a href="https://github.com/bosichong/suiyan" target="_blank" style="width: 24px; height: 24px;"
        ><img width="24" height="24" src="https://suiyan.cc/assets/ico/github.png" alt="github" class="hover:animate-bounce"></a>
      
      <a href="https://gitee.com/J_Sky/suiyan" target="_blank" style="width: 24px; height: 24px;"
        ><img width="24" height="24" src="https://suiyan.cc/assets/ico/gitee.png" alt="gitee" class="hover:animate-bounce"></a>
      
      <a href="mailto:285911@gmail.com" target="_blank" style="width: 24px; height: 24px;"
        ><img width="24" height="24" src="https://suiyan.cc/assets/ico/mail.png" alt="mail" class="hover:animate-bounce"></a>
      
      <a href="https://space.bilibili.com/275991552" target="_blank" style="width: 24px; height: 24px;"
        ><img width="24" height="24" src="https://suiyan.cc/assets/ico/bili.png" alt="bili" class="hover:animate-bounce"></a>
      
      <a href="https://suiyan.cc/rss.xml" target="_blank" style="width: 24px; height: 24px;"
        ><img width="24" height="24" src="https://suiyan.cc/assets/ico/rss.png" alt="rss" class="hover:animate-bounce"></a>
      
    </div>
  </div>
</footer>

      <!-- End  Footer -->
    </div>

    <div class="rightside fixed bottom-20 right-2 w-10">
      <!-- Component: Base secondary button with icon  -->
      <button
        id="topButton"
        aria-label="arrow-up"
        onclick="scrollToTop()"
        class="hidden hover:animate-bounce mb-2 inline-flex items-center self-center justify-center h-10 gap-2 px-5 text-sm font-medium tracking-wide transition duration-300 rounded-full focus-visible:outline-none justify-self-center whitespace-nowrap bg-zinc-50 text-zinc-500 hover:bg-zinc-100 hover:text-zinc-600 focus:bg-zinc-200 focus:text-zinc-700 disabled:cursor-not-allowed disabled:border-zinc-300 disabled:bg-zinc-100 disabled:text-zinc-400 disabled:shadow-none"
      >
        <span class="relative only:-mx-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-square-rounded-arrow-up"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16 12l-4 -4l-4 4"></path>
            <path d="M12 16v-8"></path>
            <path
              d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
            ></path>
          </svg>
        </span>
      </button>
      <!-- End Base secondary button with icon  -->
    </div>
        <!-- CDN example (unpkg) day.js -->
        <script src="https://suiyan.cc/assets/js/dayjs.min.js"></script>
        <script src="https://suiyan.cc/assets/js/relativeTime.js"></script>
        <script src="https://suiyan.cc/assets/js/zh-cn.js"></script>
        <!-- Template Main JS File -->
        <script src="https://suiyan.cc/assets/js/main.js"></script>
  </body>
</html>