<!DOCTYPE html>
<html lang="zh-CN" data-theme="cupcake">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Django" name="keywords">
    <meta content="作为一个网络框架，Django 需要一种方便的方式来动态生成 HTML，最常见的方法是依靠模板，一个模板包含了所需HTML输出的静态部分，以及一些特殊的语法，描述了如何插入动态内容。" name="description">
    <meta content="J.sky" name="author">
    <link rel="icon" type="image/png" href="https://suiyan.cc/assets/images/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://suiyan.cc/assets/images/favicon/favicon-16x16.png" sizes="16x16"/>
    <title>SuiYan 碎言博客 | Django 4.2 复习笔记(七)Django 模板(TEMPLATES)</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://suiyan.cc/assets/js/tailwind.config.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
    />



    <!-- Template Main CSS File -->
    <link href="https://suiyan.cc/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container max-w-3xl mx-auto font-sans text-lg font-extralight">
        <div
          id="sider"
          class="fixed z-50 bg-base-100 container max-w-3xl mx-auto h-screen flex items-center justify-center sider-top"
        >
          <button
            id="menu-close-btn"
            class="absolute top-2 right-2 btn btn-square btn-ghost text-lg"
          >
            <i class="fa fa-close"></i>
          </button>
          <div class="card w-96 bg-base-100 shadow-xl p-4 m-4">
            <div class="text-center">
              <div class="avatar">
                <div
                  class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                  <img
                    src="https://suiyan.cc/assets/images/avatar.jpg"
                    alt="J.sky"
                  />
                </div>
              </div>
              <h3 class="text-lg my-1">
                <a href="https://suiyan.cc/" class="">J.sky</a>
              </h3>
              <p class="text-xs">You see see you , This one day day di.</p>
              <div class="mt-2 text-center text-2xl">
                
                <a
                href="https://github.com/bosichong/suiyan"
                target="_blank"
                class=""
                ><i class="fa fa-github"></i
              ></a>
            
                <a
                href="https://gitee.com/J_Sky/suiyan"
                target="_blank"
                class=""
                ><i class="fa fa-git"></i
              ></a>
            
                <a
                href="mailto:285911@gmail.com"
                target="_blank"
                class=""
                ><i class="fa fa-envelope"></i
              ></a>
            
                <a
                href="https://www.zhihu.com/people/J_sky/activities"
                target="_blank"
                class=""
                ><i class="fa fa-book"></i
              ></a>
            
                <a
                href="https://suiyan.cc/rss.xml"
                target="_blank"
                class=""
                ><i class="fa fa-rss-square"></i
              ></a>
            
                

              </div>
            </div>
  
            <ul class="menu bg-base-100 w-36 rounded-box mx-auto">
              
              <li>
                <a href="https://suiyan.cc/"
                  ><i class="fa fa-home"></i> <span>Home</span></a
                >
              </li>
            
              <li>
                <a href="https://suiyan.cc/archives.html"
                  ><i class="fa fa-archive"></i> <span>Archive</span></a
                >
              </li>
            
              <li>
                <a href="https://suiyan.cc/tags.html"
                  ><i class="fa fa-tags"></i> <span>Tags</span></a
                >
              </li>
            
              <li>
                <a href="https://suiyan.cc/before-2022/1.html"
                  ><i class="fa fa-user-md"></i> <span>About Me</span></a
                >
              </li>
            
              <li>
                <a href="https://suiyan.cc/links.html"
                  ><i class="fa fa-link"></i> <span>Links</span></a
                >
              </li>
            

            </ul>
  

              <!-- 移动端搜索 -->
              <button class="btn btn-sm" onclick="my_modal_3.showModal()"><i class="fa fa-search"></i>搜索</button>
              <dialog id="my_modal_3" class="modal">
                <form method="dialog" class="modal-box">
                  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                  <h3 class="font-bold text-lg">站内搜索!</h3>
                  <div class="mx-full">
                    <input
                      id="search-input"
                      type="text"
                      placeholder="JavaScript"
                      class="input input-bordered w-3/4 max-w-xs input-sm"
                    />
                    <button id="search-btn" class="btn btn-sm">
                      <i class="fa fa-search"></i>
                    </button>
                    <div id="modal_s">
                      <ul id="result-list"></ul>
                    </div>
                  </div>
                </form>
              </dialog>
            



          </div>
        </div>
        <nav class="sticky top-0 h-16 px-4 z-10 bg-opacity-90 backdrop-blur">
          <div class="navbar">
            <div class="navbar-start">
              <button
                id="menu-open-btn"
                class="btn btn-square btn-ghost lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-5 h-5 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  ></path>
                </svg>
              </button>
              <div class="avatar lg:hidden mx-2">
                <div
                  class="w-8 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                <a href="https://suiyan.cc/">
                  <img
                  src="https://suiyan.cc/assets/images/avatar.jpg"
                  alt="J.sky"
                  />
                </a>
                  
                </div>
              </div>
              <button
                class="flex btn btn-sm btn-ghost normal-case font-light text-2xl hidden lg:block"
              >
                <a href="https://suiyan.cc/">碎言博客</a>
              </button>
            </div>
            <div class="navbar-end">
              <div class="hidden lg:block">
                <!-- You can open the modal using ID.showModal() method -->
              <button class="btn btn-sm" onclick="my_modal_1.showModal()"><i class="fa fa-search"></i>搜索</button>
              <dialog id="my_modal_1" class="modal">
                <form method="dialog" class="modal-box">
                  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                  <h3 class="font-bold text-lg">站内搜索!</h3>
                  <div class="mx-full">
                    <input
                      id="search-input1"
                      type="text"
                      placeholder="JavaScript"
                      class="input input-bordered w-full max-w-xs input-sm"
                    />
                    <button id="search-btn1" class="btn btn-sm">
                      <i class="fa fa-search"></i>
                    </button>
                    <div id="modal_s1">
                      <ul id="result-list1"></ul>
                    </div>
                  </div>
                </form>
              </dialog>
              </div>
              <div class="dropdown dropdown-end dropdown-hover">
                <label tabindex="0" class="btn btn-sm normal-case btn-ghost">
                  <svg
                    width="20"
                    height="20"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="h-5 w-5 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
                    ></path>
                  </svg>
                  <span class="hidden font-normal md:inline">主题</span>
                  <svg
                    width="12px"
                    height="12px"
                    class="hidden h-2 w-2 fill-current opacity-60 sm:inline-block"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 2048 2048"
                  >
                    <path
                      d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
                    ></path>
                  </svg>
                </label>
                <ul
                  tabindex="0"
                  class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-28"
                >
                  <li><a data-set-theme="">Default</a></li>
                  <li><a data-set-theme="light">light</a></li>
                  <li><a data-set-theme="dark">dark</a></li>
                  <li><a data-set-theme="cupcake">cupcake</a></li>
                  <li><a data-set-theme="retro">retro</a></li>
                  <li><a data-set-theme="luxury">luxury</a></li>
                  <li><a data-set-theme="autumn">autumn</a></li>
                  <li><a data-set-theme="business">business</a></li>
                  <li><a data-set-theme="valentine">valentine</a></li>
                  <li><a data-set-theme="coffee">coffee</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="p-4">
            
<!-- Template Main CSS File -->
<link href="https://suiyan.cc/assets/css/blog.css" rel="stylesheet">
<div>
  <div class="mb-4">
    <h1 class="text-3xl">Django 4.2 复习笔记(七)Django 模板(TEMPLATES)</h1>
    <div class="text-sm my-2">
      作者:<a href="#">J.sky</a> | 发表于:<div class="tooltip" data-tip="2023-06-03 07:32:59"><span
        class="cr-time"
        >2023-06-03 07:32:59</span></div>
      | 更新于:<div class="tooltip" data-tip="2023-06-03 08:02:32"><span class="up-time">2023-06-03 08:02:32</span></div>
      | Tag:   Django 
    </small>
  </div>

  <div class="mb-4"><p>作为一个网络框架，Django 需要一种方便的方式来动态生成 HTML，最常见的方法是依靠模板，一个模板包含了所需HTML输出的静态部分，以及一些特殊的语法，描述了如何插入动态内容。</p>
<h2>配置Django模板引擎</h2>
<p>配置Django模板引擎：在Django项目的设置文件中（settings.py），确保'Django.template.backends.django.DjangoTemplates'引擎被包含在TEMPLATES设置的'BACKENDS'中。</p>
<p>这是Django创建项目后默认的模板配置：</p>
<pre><code>TEMPLATES = [
    {
        'BACKEND':  'django.template.backends.django.DjangoTemplates',
        'DIRS':     [],
        'APP_DIRS': True,
        'OPTIONS':  {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]
</code></pre>
<p>下面是修改添加并设置了模板目录的配置项：</p>
<pre><code>TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'templates')],       # 修改位置
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]
</code></pre>
<p>告诉Django要启用Django自带的模板引擎。</p>
<pre><code>"BACKEND": "django.template.backends.django.DjangoTemplates",
"APP_DIRS": True,
</code></pre>
<p>指定模板文件的存放目录为项目的子目录下<code>templates</code></p>
<pre><code>'DIRS': [os.path.join(BASE_DIR, 'templates')],# 修改位置
</code></pre>
<p>至此，Django模板就配置好了。</p>
<h2>使用Django的模板</h2>
<p>在模板文件（例如，template.html）编写模板文件：</p>
<pre><code>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;{{ title }}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Hello, {{ name }}!&lt;/h1&gt;
    {% if age %}
        &lt;p&gt;Your age is {{ age }}.&lt;/p&gt;
    {% else %}
        &lt;p&gt;Your age is not specified.&lt;/p&gt;
    {% endif %}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>配置好路由：</p>
<pre><code>urlpatterns = [
    path("", views.index, name="index"),
    path("test_view/", views.test_view, name="test_view"),
]
</code></pre>
<p>在上述示例中，视图函数test_view创建了一个包含'title'、'name'和'age'的上下文对象。然后使用render函数将模板文件名、上下文对象和请求作为参数传递。最后Django将渲染模板并返回最终的HTML响应。</p>
<p>我们启动Django的服务器来进行测试：<code>python manage.py runserver</code></p>
<p>我们就可以正常的看到模板渲染出来的页面了。</p>
<h2>总结</h2>
<p>以下是使用Django模板的基本步骤：</p>
<ol>
<li>
<p>配置Django模板引擎：在Django项目的设置文件中（settings.py），确保'Django.template.backends.django.DjangoTemplates'引擎被包含在TEMPLATES设置的'BACKENDS'中。</p>
</li>
<li>
<p>创建模板文件：在Django项目的一个目录中，创建一个包含HTML代码的模板文件。通常，模板文件位于一个名为'templates'的子目录中。</p>
</li>
<li>
<p>定义模板变量：在模板中，可以使用双大括号（{{ variable_name }}）来包围变量名，以将其插入到模板中。</p>
</li>
<li>
<p>控制流和逻辑：在模板中，可以使用控制结构（如if语句和for循环）来控制显示的内容。</p>
</li>
<li>
<p>继承和包含：Django模板还支持模板继承和包含，可以在一个模板中使用{% extends %}和{% include %}指令来重用和组合模板代码。</p>
</li>
<li>
<p>上下文传递：在Django视图函数中，可以通过上下文对象将数据传递给模板。上下文对象是一个包含键值对的字典，其中键是在模板中使用的变量名称，值是要传递给模板的实际数据。</p>
</li>
<li>
<p>渲染模板：在Django视图函数中，使用Django的渲染器（render）将模板和上下文对象结合起来，生成最终的HTML响应。</p>
</li>
</ol>
<p>参考文档：</p>
<p><a href="https://www.runoob.com/django/django-template.html">Django 模板</a></p>
<p><a href="https://docs.djangoproject.com/zh-hans/4.2/topics/templates/">Django 模板 官方文档</a></p>
<p><a href="https://docs.djangoproject.com/zh-hans/4.2/ref/settings/#templates">模板配置文件选项设置 官方文档</a></p></div>

  <div class="blog_footer">
    <div class="prev_next flex justify-between my-4">
      
      <a href="https://suiyan.cc/2023/20230604084835.html" class="text-accent text-md"
        ><span>< prev</span></a
      >
       
      <a href="https://suiyan.cc/2023/20230602101713.html" class="text-accent text-md"
        ><span>next</span> ></a
      >
      
    </div>
    
    <div class="related">
      <p>相关文章：</p>
      <ul>
        
        <li>
          <a href="https://suiyan.cc/2023/20230611084325.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(九)Django Forms 使用表单</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230605083417.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(九)使用Django的上下文处理器（context processor）</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230604161547.html" class="text-truncate"
            ><span>如何单独使用Django ORM 在非Django项目中使用Django ORM？</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230604084835.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(八)Django 模板语言语法</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230529075925.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(六)Django的路由</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230528074712.html" class="text-truncate"
            ><span>SQLAlchemy的关系字段和Django的关系字段他们的不同点。</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230528074013.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(五)Django中常见的关系字段及其示例</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230525084144.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(四)数据的查询Django的ORM</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230524211340.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(三)Model模型字段</span></a
          >
        </li>
        
        <li>
          <a href="https://suiyan.cc/2023/20230520081153.html" class="text-truncate"
            ><span>Django 4.2 复习笔记(二)编写和调试Model模型</span></a
          >
        </li>
        
      </ul>
    </div>
    

    <script
      src="https://giscus.app/client.js"
      data-repo="bosichong/bosichong.github.io"
      data-repo-id="R_kgDOJLHieA"
      data-category="Announcements"
      data-category-id="DIC_kwDOJLHieM4CWhL8"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light"
      data-lang="zh-CN"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/onedark.min.css"
/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>


        </div>
        <div class="sider-left fixed top-32 hidden lg:block">
          <div class="avatar">
            <div
              class="w-20 rounded-full ring-offset-base-100 ring-offset-2"
            >
              <img src="https://suiyan.cc/assets/images/avatar.jpg"
              alt="J.sky" />
            </div>
          </div>
          <ul class="text-center text-sm space-y-1">
            
            <li>
              <a href="https://suiyan.cc/"
                ><button class="btn btn-sm btn-ghost normal-case font-light">Home</button></a
              >
            </li>
            
            <li>
              <a href="https://suiyan.cc/archives.html"
                ><button class="btn btn-sm btn-ghost normal-case font-light">Archive</button></a
              >
            </li>
            
            <li>
              <a href="https://suiyan.cc/tags.html"
                ><button class="btn btn-sm btn-ghost normal-case font-light">Tags</button></a
              >
            </li>
            
            <li>
              <a href="https://suiyan.cc/before-2022/1.html"
                ><button class="btn btn-sm btn-ghost normal-case font-light">About Me</button></a
              >
            </li>
            
            <li>
              <a href="https://suiyan.cc/links.html"
                ><button class="btn btn-sm btn-ghost normal-case font-light">Links</button></a
              >
            </li>
            
  
          </ul>
        </div>
        <!-- ======= Footer ======= -->

    <footer class="footer p-3 bg-base-200 text-base-content">
  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
      ><img
        alt="知识共享许可协议"
        style="border-width: 0"
        src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"
    /></a>
    <div>
      Designed by
      <a href="https://github.com/Jsky2020/suiyan" target="_blank">SuiYan</a> |
      Theme by
      <a href="https://github.com/bosichong/coding_blog" target="_blank"
        >Coding-blog</a
      >
    </div>

    <div class="container typed-div">
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <div class="hd"><span id="typed"></span></div>
      <script>
            const typed = new Typed('#typed', {
            strings: [
            
            '积硅步以致千里',
            
            '积怠惰以致深渊',
            
            '只比你努力一点的人',
            
            '其实已经甩你很远了！',
            
            ],
            typeSpeed: 250,
            backSpeed: 100,
            backDelay: 100,
            startDelay: 1000,
            loop:true
        });
      </script>
    </div>
  </div>

  <div>
    <span class="footer-title">Contact me</span>
    <div class="grid grid-flow-col gap-2 text-lg">
      
      <a href="https://github.com/bosichong/suiyan" target="_blank" class=""
        ><i class="fa fa-github"></i
      ></a>
      
      <a href="https://gitee.com/J_Sky/suiyan" target="_blank" class=""
        ><i class="fa fa-git"></i
      ></a>
      
      <a href="mailto:285911@gmail.com" target="_blank" class=""
        ><i class="fa fa-envelope"></i
      ></a>
      
      <a href="https://www.zhihu.com/people/J_sky/activities" target="_blank" class=""
        ><i class="fa fa-book"></i
      ></a>
      
      <a href="https://suiyan.cc/rss.xml" target="_blank" class=""
        ><i class="fa fa-rss-square"></i
      ></a>
      
    </div>
  </div>
</footer>

    <!-- End  Footer -->

      </div>


      <a id="scrollUp" href="#top" style="position: fixed; display: block;" class="text-1xl"></a>
       

<!-- CDN example (unpkg) day.js -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/locale/zh-cn.js"></script>

<!-- Template Main JS File -->
<script src="https://suiyan.cc/assets/js/url.js"></script>
<script src="https://suiyan.cc/assets/js/jquery.scrollUp.min.js"></script>
<script src="https://suiyan.cc/assets/js/main.js"></script>

</body>

</html>