

.sider-top {
  top: -101vh;
}
.sider-left{
  left:calc((100% - 768px) / 2 - 80px);
}

.card-body{
  padding: 1.5rem;
}


#scrollUp {
  bottom: 20px;
  right: 20px;
  font-size: 24px;
}

.tag{
  text-transform:none;
}